<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MyResto</title>
  <link rel="icon" href="./images/logo/resto-logo.png">
</head>
<body>
  <!-- skip to content -->
  <a href="#main-content" class="skip-content">Skip to content</a>
  <header>
    <!-- Desktop Navbar -->
    <nav class="navbar">
      <a class="nav-logo" href="#">MyResto</a>
      <ul class="nav-list">
        <li class="nav-item"><a href="#">Home</a></li>
        <li class="nav-item"><a href="#">Favorite</a></li>
        <li class="nav-item"><a target="_blank" rel="noopener" href="https://linkedin.com/in/kuncoro-ariadi/">About Us</a></li>
      </ul>
    </nav>
    <!-- Mobile Navbar -->
    
  </header>
  <h1>Restaurant Apps Starter Project</h1>
  <p>Hallo coders! Anda berhasil menjalankan starter project.</p>
  <p>Jangan lupa untuk menggunakan salah satu gambar yang berada pada ./images/heros sebagai background hero elemen</p>
  <img src="./images/heros/hero-image_1.jpg" width="450" alt="">
  <img src="./images/heros/hero-image_2.jpg" width="450" alt="">
  <img src="./images/heros/hero-image_3.jpg" width="450" alt="">
  <img src="./images/heros/hero-image_4.jpg" width="450" alt="">
</body>
</html>
